workflows/job-listings.json
{
  "name": "job-listings",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        1088
      ],
      "id": "25092e83-33f4-4f58-9305-a4d0b2e87527",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7fddbb59-85ad-42ca-8faa-5d5aa0090f78",
              "leftValue": "={{ $json }}",
              "rightValue": 1,
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1424,
        848
      ],
      "id": "e75e38b3-3634-44b2-a7d9-00a846777cd8",
      "name": "if-not-empty"
    },
    {
      "parameters": {
        "jsCode": "//                                MIT License\n//                     Copyright 2026, Sébastien Kéroack\n// =============================================================================\n\n// Recommended delay range in milliseconds (e.g., 25000-55000 ms)\nconst MIN_DELAY = 2500;\nconst MAX_DELAY = 5500;\n\n// Generate a random delay in the range\nconst delay = Math.floor(Math.random() * (MAX_DELAY - MIN_DELAY + 1)) + MIN_DELAY;\n\n// Wait for the delay (n8n Code node supports async/await)\nawait new Promise(resolve => setTimeout(resolve, delay));\n\n// Optionally output the delay for logging/debugging\nreturn [{ json: { waitedMs: delay } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        912
      ],
      "id": "ebfed2e7-3546-4f5d-968d-d377ebbd1dee",
      "name": "random-wait"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        976,
        912
      ],
      "id": "20d27948-41a2-4a2f-84b9-7be02fd6d0b6",
      "name": "loop-over-search-term"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/candidate/search.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -144,
        912
      ],
      "id": "f5fd29a4-bfe8-44e6-a950-2433c3a845fc",
      "name": "search.json (raw)"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "search",
        "options": {
          "encoding": "utf8"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        80,
        912
      ],
      "id": "882701ff-d649-4e34-b5b5-ff0ef6e1b5c0",
      "name": "search.json"
    },
    {
      "parameters": {
        "fieldToSplitOut": "search.query",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        304,
        912
      ],
      "id": "faa2f949-c03c-4a97-aeae-50b0dfc4d782",
      "name": "split-out-search-query"
    },
    {
      "parameters": {
        "fieldToSplitOut": "search.location",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        528,
        912
      ],
      "id": "90da3fe9-9ebe-400b-92fd-1ff90a320993",
      "name": "split-out-search-location"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2feba11-0fb1-413f-9b1f-b35fb0c8d650",
              "name": "query",
              "value": "={{ $json['search.query'] }}",
              "type": "string"
            },
            {
              "id": "cebcb37b-0d73-4bb2-880d-a10742f52804",
              "name": "location",
              "value": "={{ $json['search.location'] }}",
              "type": "string"
            },
            {
              "id": "317636d6-0810-4455-9a7d-982c0d9411c8",
              "name": "results_wanted",
              "value": "={{ $json.search.results_wanted }}",
              "type": "number"
            },
            {
              "id": "59e0cc7b-607d-44bc-9333-0f1f2c7059a5",
              "name": "distance_unit",
              "value": "={{ $json.search.distance_unit }}",
              "type": "number"
            },
            {
              "id": "ba333ad9-92e5-416e-906c-5e4404a9a4f0",
              "name": "distance_use_km",
              "value": "={{ $json.search.distance_use_km }}",
              "type": "boolean"
            },
            {
              "id": "c40af85c-4061-45e8-b563-d06b46c0e7da",
              "name": "days_old",
              "value": "={{ $json.search.days_old }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        912
      ],
      "id": "5262ee3d-34c0-408c-ac49-e8217f9eb2e4",
      "name": "split-out-fix-merge"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "#                                  MIT License\n#                       Copyright 2026, Sébastien Kéroack\n# ==============================================================================\n\nfrom job_search_pipeline.query import Query\n\n# ---- n8n Python node entrypoint ----\nout = []\n\nfor it in _items:\n    q = Query.from_dict(**it[\"json\"])\n    for job in q.run():\n        out.append({\"json\": job.parse()})\n\nreturn out\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        848
      ],
      "id": "5ae0fd88-f96a-48d5-abe7-b1b32a713977",
      "name": "query-search-term",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JalkGTJfNuJonHrMcG7f601QqmQB9b9Wwo9rosm16p8",
          "mode": "list",
          "cachedResultName": "job-listings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JalkGTJfNuJonHrMcG7f601QqmQB9b9Wwo9rosm16p8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "developer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JalkGTJfNuJonHrMcG7f601QqmQB9b9Wwo9rosm16p8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "level",
              "lookupValue": "N/A"
            },
            {
              "lookupColumn": "level",
              "lookupValue": "TODO"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        1280
      ],
      "id": "6d271a5a-2c92-41ef-bcf7-3dfba1604200",
      "name": "read-job-listings",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "reZ0cfDtkVX4FzeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/candidate/llm/job_level/prompt/system.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -144,
        1280
      ],
      "id": "956e0a40-9192-4f67-89a5-aa2f35a11931",
      "name": "job_level-prompt-system.md (raw)"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "prompt.job_level.system",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        80,
        1280
      ],
      "id": "68b6f03c-6900-4cf8-a965-fba156eb58ca",
      "name": "job_level-prompt-system.md"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        528,
        1280
      ],
      "id": "a1530b2d-2ee9-47b6-9006-e29c36dac047",
      "name": "loop-over-jobs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7d2d1da-ba79-4ba2-92a6-5f254188df95",
              "name": "system",
              "value": "={{ $('job_level-prompt-system.md').item.json.prompt.job_level.system }}",
              "type": "string"
            },
            {
              "id": "c8dc2eb0-b8e9-4af3-8e05-f424a65a6340",
              "name": "user",
              "value": "={{ $('loop-over-jobs').item.json.description }}",
              "type": "string"
            },
            {
              "id": "43654609-ba9e-4ae5-99bb-777feba945de",
              "name": "default",
              "value": "{\"level\":\"unknown\"}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        1200
      ],
      "id": "d5fe7f31-75fe-4b2f-8373-d60a350e4a71",
      "name": "job_level-prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-5-mini\",\n  \"reasoning\": {\"effort\": \"low\"},\n  \"max_output_tokens\": 1024,\n  \"instructions\": {{ JSON.stringify($json.system) }},\n  \"input\": {{ JSON.stringify($json.user) }},\n  \"text\": {\n    \"format\": {\n      \"name\": \"content\",\n      \"type\": \"json_schema\",\n      \"strict\": true,\n      \"schema\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"level\":{\"type\":\"string\",\"enum\":[\"executive\",\"senior\",\"mid\",\"junior\",\"entry\",\"intern\"]}\n        },\n        \"required\": [\"level\"]\n      }\n    }\n  },\n  \"store\": false\n}",
        "options": {
          "timeout": 900000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        1200
      ],
      "id": "407ff12f-379f-4e0c-967a-d8f02060640b",
      "name": "job_level-llm",
      "credentials": {
        "openAiApi": {
          "id": "AiJX2Ln9yXCzt0TT",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "//                                MIT License\n//                     Copyright 2026, Sébastien Kéroack\n// =============================================================================\n\nconst common = require('/home/runner/job-search-pipeline/job_search_pipeline/utils/parse/common.js').default;\n\nlet input_json = $input.first().json;\n\nconst content = common.extractInputText(input_json);\n\nconst effectiveContent = typeof content === 'string' && content.trim() ? content : common.getDefaultTemplate('compatibility_score-prompt');\n\n// Strip Markdown code fences if the model returned ```json ... ```\nlet cleaned = common.stripCodeFences(effectiveContent);\n\n// Parse\nlet json = common.parseFirstJsonOrDefault(cleaned, 'job_level-prompt');\n\njson.raw = effectiveContent;\nreturn [{ json: json }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        1200
      ],
      "id": "38ec9049-b25e-40a1-9afd-b1b7537aa81e",
      "name": "job_level-parse"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1JalkGTJfNuJonHrMcG7f601QqmQB9b9Wwo9rosm16p8",
          "mode": "list",
          "cachedResultName": "job-listings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JalkGTJfNuJonHrMcG7f601QqmQB9b9Wwo9rosm16p8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "developer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JalkGTJfNuJonHrMcG7f601QqmQB9b9Wwo9rosm16p8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $('loop-over-jobs').item.json.url }}",
            "level": "={{ $('job_level-parse').item.json.level }}",
            "level_raw": "={{ $('job_level-parse').item.json.raw }}",
            "date_updated": "={{ $now.toISODate() }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_updated",
              "displayName": "date_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_posted",
              "displayName": "date_posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "site",
              "displayName": "site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "emails",
              "displayName": "emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_description",
              "displayName": "company_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_url",
              "displayName": "company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job",
              "displayName": "job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "level_raw",
              "displayName": "level_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "salary",
              "displayName": "salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_remote",
              "displayName": "is_remote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "repr.job",
              "displayName": "repr.job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1424,
        1280
      ],
      "id": "747355e6-df77-4bb5-88ff-ad289e6dff55",
      "name": "append-or-update-job-listings2",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "reZ0cfDtkVX4FzeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1JalkGTJfNuJonHrMcG7f601QqmQB9b9Wwo9rosm16p8",
          "mode": "list",
          "cachedResultName": "job-listings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JalkGTJfNuJonHrMcG7f601QqmQB9b9Wwo9rosm16p8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "developer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JalkGTJfNuJonHrMcG7f601QqmQB9b9Wwo9rosm16p8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.url }}",
            "source": "={{ $json.source }}",
            "company": "={{ $json.company }}",
            "job": "={{ $json.title }}",
            "description": "={{ $json.description }}",
            "salary": "={{ $json.salary }}",
            "type": "={{ $json.type }}",
            "city": "={{ $json.city }}",
            "company_description": "={{ $json.company_description }}",
            "company_url": "={{ $json.company_url }}",
            "date_updated": "={{ $now.toISODate() }}",
            "emails": "={{ $json.emails }}",
            "is_remote": "={{ $json.is_remote }}",
            "date_posted": "={{ $json.date_posted }}",
            "site": "={{ $json.site }}",
            "repr.job": "={{ $json.job }}",
            "level": "={{ $json.level }}",
            "level_raw": "-"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_updated",
              "displayName": "date_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_posted",
              "displayName": "date_posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "site",
              "displayName": "site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "emails",
              "displayName": "emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_description",
              "displayName": "company_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_url",
              "displayName": "company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job",
              "displayName": "job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "level_raw",
              "displayName": "level_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "salary",
              "displayName": "salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_remote",
              "displayName": "is_remote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "repr.job",
              "displayName": "repr.job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        768
      ],
      "id": "b6e7e4f2-5ec3-4270-91aa-664a34b4d7e8",
      "name": "append-or-update-job-listings1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "reZ0cfDtkVX4FzeK",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "search.json (raw)",
            "type": "main",
            "index": 0
          },
          {
            "node": "job_level-prompt-system.md (raw)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if-not-empty": {
      "main": [
        [
          {
            "node": "append-or-update-job-listings1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "random-wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "random-wait": {
      "main": [
        [
          {
            "node": "loop-over-search-term",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop-over-search-term": {
      "main": [
        [],
        [
          {
            "node": "query-search-term",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search.json (raw)": {
      "main": [
        [
          {
            "node": "search.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search.json": {
      "main": [
        [
          {
            "node": "split-out-search-query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-out-search-query": {
      "main": [
        [
          {
            "node": "split-out-search-location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-out-search-location": {
      "main": [
        [
          {
            "node": "split-out-fix-merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-out-fix-merge": {
      "main": [
        [
          {
            "node": "loop-over-search-term",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "query-search-term": {
      "main": [
        [
          {
            "node": "if-not-empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read-job-listings": {
      "main": [
        [
          {
            "node": "loop-over-jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "job_level-prompt-system.md (raw)": {
      "main": [
        [
          {
            "node": "job_level-prompt-system.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "job_level-prompt-system.md": {
      "main": [
        [
          {
            "node": "read-job-listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop-over-jobs": {
      "main": [
        [],
        [
          {
            "node": "job_level-prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "job_level-prompt": {
      "main": [
        [
          {
            "node": "job_level-llm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "job_level-llm": {
      "main": [
        [
          {
            "node": "job_level-parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "job_level-parse": {
      "main": [
        [
          {
            "node": "append-or-update-job-listings2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "append-or-update-job-listings2": {
      "main": [
        [
          {
            "node": "loop-over-jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "append-or-update-job-listings1": {
      "main": [
        [
          {
            "node": "random-wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e0cfd9c3-db0c-4d2e-affd-121f8a613479",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d79135bad5e5016f82ec360fb613505c32cf82dee8dd57489aa4750208f252dd"
  },
  "id": "ubd7KCR0Ichj6qWUwuLfy",
  "tags": []
}