workflows/job-listings-score.json
{
  "name": "job-listings-score",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7d2d1da-ba79-4ba2-92a6-5f254188df95",
              "name": "system",
              "value": "={{ $('candidate').item.json.prompt.job_score.system }}",
              "type": "string"
            },
            {
              "id": "c8dc2eb0-b8e9-4af3-8e05-f424a65a6340",
              "name": "user",
              "value": "=## Job posting data\n- Title: {{ $('loop-over-jobs1').item.json.job }}\n- Salary: {{ $('loop-over-jobs1').item.json.salary }}\n- Type: {{ $('loop-over-jobs1').item.json.type }}\n- City: {{ $('loop-over-jobs1').item.json.city }}\n## Job description\n```text\n{{ $('loop-over-jobs1').item.json.description }}\n```\n## Candidate profile (resume)\n```text\n{{ $('candidate').item.json.resume }}\n```",
              "type": "string"
            },
            {
              "id": "77160308-223b-4848-8470-c7442fcf7bd2",
              "name": "default",
              "value": "{\"total_score\":0,\"breakdown\":{\"skill_match\":0,\"compensation\":0,\"benefits\":0,\"employment_type\":0},\"reasoning\":\"N/A\"}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        24
      ],
      "id": "26db05d4-e83e-459d-8204-55504f3532aa",
      "name": "job_score-prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-5-mini\",\n  \"reasoning\": {\"effort\": \"low\"},\n  \"max_output_tokens\": 2048,\n  \"instructions\": {{ JSON.stringify($json.system) }},\n  \"input\": {{ JSON.stringify($json.user) }},\n  \"text\": {\n    \"format\": {\n      \"name\": \"content\",\n      \"type\": \"json_schema\",\n      \"strict\": true,\n      \"schema\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"total_score\": {\"type\": \"integer\", \"minimum\": 0, \"maximum\": 10},\n          \"breakdown\": {\n            \"type\": \"object\",\n            \"additionalProperties\": false,\n            \"properties\": {\n              \"skill_match\": {\"type\": \"integer\", \"enum\": [0,1,2,3,4,5,6]},\n              \"compensation\": {\"type\": \"integer\", \"enum\": [0,1]},\n              \"benefits\": {\"type\": \"integer\", \"enum\": [0,1,2]},\n              \"employment_type\": {\"type\": \"integer\", \"enum\": [0,1]}\n            },\n            \"required\": [\"skill_match\", \"compensation\", \"benefits\", \"employment_type\"]\n          },\n          \"reasoning\": {\"type\": \"string\", \"maxLength\": 1800}\n        },\n        \"required\": [\"total_score\", \"breakdown\", \"reasoning\"]\n      }\n    }\n  },\n  \"store\": false\n}",
        "options": {
          "timeout": 900000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        24
      ],
      "id": "5fe7ed6d-26d7-4441-a441-fd571b59dec2",
      "name": "job_score-llm",
      "credentials": {
        "openAiApi": {
          "id": "AiJX2Ln9yXCzt0TT",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "//                                MIT License\n//                     Copyright 2026, Sébastien Kéroack\n// =============================================================================\n\nconst IS_TEST = globalThis?.__TEST__ === true;\n\nlet input_json = $input.first().json;\nlet input_text = '';\n\n// Extraction for OpenAI, Ollama and Responses API outputs\nif (\n  Array.isArray(input_json.choices) &&\n  typeof input_json.choices[0]?.message?.content === 'string'\n) {\n  input_text = input_json.choices[0].message.content;\n} else if (\n  Array.isArray(input_json.output) &&\n  typeof input_json.output[1]?.content?.[0]?.text === 'string'\n) {\n  input_text = input_json.output[1].content[0].text;\n} else if (typeof input_json.content === 'string') {\n  input_text = input_json.content;\n} else {\n  throw new Error('Input JSON does not contain expected fields.');\n}\n\nconst content = input_text;\n\nfunction getDefaultTemplate() {\n  try {\n    const template = $('job_score-prompt').first().json?.default;\n    if (typeof template === 'string' && template.trim()) return template;\n  } catch (e) {\n    // ignore and throw below\n  }\n  throw new Error(\"Default template not found at $('job_score-prompt').first().json.default\");\n}\n\nconst effectiveContent =\n  typeof content === 'string' && content.trim() ? content : getDefaultTemplate();\n\n// Strip Markdown code fences if the model returned ```json ... ```\nconst cleaned = effectiveContent\n  .trim()\n  .replace(/^```(?:json)?\\s*/i, '')\n  .replace(/\\s*```$/i, '');\n\nfunction extractFirstJsonValue(text) {\n  const s = String(text ?? '').trim();\n\n  // Find first opening bracket for an object or array.\n  let start = -1;\n  let open = '';\n  let close = '';\n  for (let i = 0; i < s.length; i++) {\n    const ch = s[i];\n    if (ch === '{') {\n      start = i;\n      open = '{';\n      close = '}';\n      break;\n    }\n    if (ch === '[') {\n      start = i;\n      open = '[';\n      close = ']';\n      break;\n    }\n  }\n\n  if (start === -1) {\n    throw new Error('No JSON object/array start found');\n  }\n\n  let depth = 0;\n  let inString = false;\n  let escaped = false;\n\n  for (let i = start; i < s.length; i++) {\n    const ch = s[i];\n\n    if (escaped) {\n      escaped = false;\n      continue;\n    }\n\n    if (inString) {\n      if (ch === '\\\\') {\n        escaped = true;\n      } else if (ch === '\"') {\n        inString = false;\n      }\n      continue;\n    }\n\n    if (ch === '\"') {\n      inString = true;\n      continue;\n    }\n\n    if (ch === open) depth++;\n    else if (ch === close) depth--;\n\n    if (depth === 0) {\n      return s.slice(start, i + 1);\n    }\n  }\n\n  throw new Error('Could not find a complete JSON value');\n}\n\n// Clamp score to given min/max, or return 'N/A' if not a number.\nfunction clampScore(val, vmin, vmax) {\n  const num = Number(val);\n  if (isNaN(num)) return 'N/A';\n  return Math.max(vmin, Math.min(vmax, num));\n}\n\n// Parse\nlet json;\ntry {\n  // Some small LLMs repeat themselves and output multiple JSON objects.\n  // Parse only the first complete JSON value.\n  const firstJson = extractFirstJsonValue(cleaned);\n  json = JSON.parse(firstJson);\n  json.total_score = clampScore(json.total_score ?? 0, 0, 10);\n  if (typeof json.breakdown !== 'object' || json.breakdown === null) {\n    json.breakdown = {};\n  }\n  json.breakdown.skill_match = clampScore(json.breakdown.skill_match ?? 0, 0, 6);\n  json.breakdown.compensation = clampScore(json.breakdown.compensation ?? 0, 0, 1);\n  json.breakdown.benefits = clampScore(json.breakdown.benefits ?? 0, 0, 2);\n  json.breakdown.employment_type = clampScore(json.breakdown.employment_type ?? 0, 0, 1);\n} catch (err) {\n  if (IS_TEST) {\n    throw new Error(\n      `Invalid JSON in message.content: ${err.message}\\nRaw content:\\n${effectiveContent}`,\n    );\n  }\n\n  json = JSON.parse(getDefaultTemplate());\n}\n\njson.raw = effectiveContent;\nreturn [{ json: json }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        24
      ],
      "id": "89ac4b81-6ad9-42e6-9d6d-b32b1301b94c",
      "name": "job_score-parse"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1008,
        360
      ],
      "id": "3f24c479-3431-4193-9596-166e42e8abee",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "-- Select rows from input1 where either:\n-- 1. [url] does NOT exist in input2 (unmatched urls)\n-- 2. [url] exists in input2 and [score] is empty, null, 'N/A', or 'TODO'\nSELECT *\nFROM input1 i1\nLEFT JOIN input2 i2 ON i1.[url] = i2.[url]\nWHERE i2.[url] IS NULL\n   OR i2.[score] IS NULL\n   OR i2.[score] = ''\n   OR i2.[score] = 'N/A'\n   OR i2.[score] = 'TODO'",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        336,
        96
      ],
      "id": "19410383-2f09-49bd-8913-884b3b1310f9",
      "name": "read-new-job-listings"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7d2d1da-ba79-4ba2-92a6-5f254188df95",
              "name": "system",
              "value": "={{ $('candidate').item.json.prompt.cover_letter.system }}",
              "type": "string"
            },
            {
              "id": "c8dc2eb0-b8e9-4af3-8e05-f424a65a6340",
              "name": "user",
              "value": "=## Job posting data\n- Title: {{ $('loop-over-jobs2').item.json.job }}\n- Salary: {{ $('loop-over-jobs2').item.json.salary }}\n- Type: {{ $('loop-over-jobs2').item.json.type }}\n- City: {{ $('loop-over-jobs2').item.json.city }}\n## Job description\n```text\n{{ $('loop-over-jobs2').item.json.description }}\n```\n## Candidate profile (resume)\n```text\n{{ $('candidate').item.json.resume }}\n```\n## Scorer output\n```text\nscore: {{ $('loop-over-jobs2').item.json.score }}\nreasoning: {{ $('loop-over-jobs2').item.json.score_reasoning }}\n```",
              "type": "string"
            },
            {
              "id": "43654609-ba9e-4ae5-99bb-777feba945de",
              "name": "default",
              "value": "{\"cover_letter\":\"N/A\"}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        384
      ],
      "id": "42d26f53-7de9-4728-8710-ab266af16239",
      "name": "cover_letter-prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-5-mini\",\n  \"reasoning\": {\"effort\": \"medium\"},\n  \"max_output_tokens\": 8192,\n  \"instructions\": {{ JSON.stringify($json.system) }},\n  \"input\": {{ JSON.stringify($json.user) }},\n  \"text\": {\n    \"format\": {\n      \"name\": \"content\",\n      \"type\": \"json_schema\",\n      \"strict\": true,\n      \"schema\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"cover_letter\": {\"type\": \"string\", \"maxLength\": 2100}\n        },\n        \"required\": [\"cover_letter\"]\n      }\n    }\n  },\n  \"store\": false\n}",
        "options": {
          "timeout": 4500000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        384
      ],
      "id": "5f0313a4-4f57-433c-8293-1dfc1d3ed438",
      "name": "cover_letter-llm",
      "credentials": {
        "openAiApi": {
          "id": "AiJX2Ln9yXCzt0TT",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "//                                MIT License\n//                     Copyright 2026, Sébastien Kéroack\n// =============================================================================\n\nconst IS_TEST = globalThis?.__TEST__ === true;\n\nlet input_json = $input.first().json;\nlet input_text = '';\n\n// Extraction for OpenAI, Ollama and Responses API outputs\nif (\n  Array.isArray(input_json.choices) &&\n  typeof input_json.choices[0]?.message?.content === 'string'\n) {\n  input_text = input_json.choices[0].message.content;\n} else if (\n  Array.isArray(input_json.output) &&\n  typeof input_json.output[1]?.content?.[0]?.text === 'string'\n) {\n  input_text = input_json.output[1].content[0].text;\n} else if (typeof input_json.content === 'string') {\n  input_text = input_json.content;\n} else {\n  throw new Error('Input JSON does not contain expected fields.');\n}\n\nconst content = input_text;\n\nfunction getDefaultTemplate() {\n  try {\n    const template = $('cover_letter-prompt').first().json?.default;\n    if (typeof template === 'string' && template.trim()) return template;\n  } catch (e) {\n    // ignore and throw below\n  }\n  throw new Error(\"Default template not found at $('cover_letter-prompt').first().json.default\");\n}\n\nconst effectiveContent =\n  typeof content === 'string' && content.trim() ? content : getDefaultTemplate();\n\n// Strip Markdown code fences if the model returned ```json ... ```\nconst cleaned = effectiveContent\n  .trim()\n  .replace(/^```(?:json)?\\s*/i, '')\n  .replace(/\\s*```$/i, '');\n\nfunction extractFirstJsonValue(text) {\n  const s = String(text ?? '').trim();\n\n  // Find first opening bracket for an object or array.\n  let start = -1;\n  let open = '';\n  let close = '';\n  for (let i = 0; i < s.length; i++) {\n    const ch = s[i];\n    if (ch === '{') {\n      start = i;\n      open = '{';\n      close = '}';\n      break;\n    }\n    if (ch === '[') {\n      start = i;\n      open = '[';\n      close = ']';\n      break;\n    }\n  }\n\n  if (start === -1) {\n    throw new Error('No JSON object/array start found');\n  }\n\n  let depth = 0;\n  let inString = false;\n  let escaped = false;\n\n  for (let i = start; i < s.length; i++) {\n    const ch = s[i];\n\n    if (escaped) {\n      escaped = false;\n      continue;\n    }\n\n    if (inString) {\n      if (ch === '\\\\') {\n        escaped = true;\n      } else if (ch === '\"') {\n        inString = false;\n      }\n      continue;\n    }\n\n    if (ch === '\"') {\n      inString = true;\n      continue;\n    }\n\n    if (ch === open) depth++;\n    else if (ch === close) depth--;\n\n    if (depth === 0) {\n      return s.slice(start, i + 1);\n    }\n  }\n\n  throw new Error('Could not find a complete JSON value');\n}\n\n// Parse\nlet json;\ntry {\n  // Some small LLMs repeat themselves and output multiple JSON objects.\n  // Parse only the first complete JSON value.\n  const firstJson = extractFirstJsonValue(cleaned);\n  json = JSON.parse(firstJson);\n} catch (err) {\n  if (IS_TEST) {\n    // In tests we want failures to be visible.\n    throw new Error(\n      `Invalid JSON in message.content: ${err.message}\\nRaw content:\\n${effectiveContent}`,\n    );\n  }\n\n  json = JSON.parse(getDefaultTemplate());\n}\n\njson.raw = effectiveContent;\nreturn [{ json: json }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        384
      ],
      "id": "fd2a130d-0750-4968-ad26-3f8b3fb3d78d",
      "name": "cover_letter-parse"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JalkGTJfNuJonHrMcG7f601QqmQB9b9Wwo9rosm16p8",
          "mode": "list",
          "cachedResultName": "job-listings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JalkGTJfNuJonHrMcG7f601QqmQB9b9Wwo9rosm16p8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "developer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JalkGTJfNuJonHrMcG7f601QqmQB9b9Wwo9rosm16p8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        0
      ],
      "id": "458dbee0-843d-4c32-beae-e5df9237bd6a",
      "name": "read-job-listings1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "reZ0cfDtkVX4FzeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM",
          "mode": "list",
          "cachedResultName": "job-listings-score",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "developer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        192
      ],
      "id": "13132dd2-8cfd-47d7-b2e9-b8dcb25fbf1d",
      "name": "read-job-listings-score1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "reZ0cfDtkVX4FzeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM",
          "mode": "list",
          "cachedResultName": "job-listings-score",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "developer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cover_letter",
              "lookupValue": "TODO"
            },
            {
              "lookupColumn": "cover_letter",
              "lookupValue": "N/A"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        456
      ],
      "id": "830da765-e7d6-463c-9d6c-60ea69a672bb",
      "name": "read-job-listings-score2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "reZ0cfDtkVX4FzeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM",
          "mode": "list",
          "cachedResultName": "job-listings-score",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "developer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $('loop-over-jobs2').item.json.url }}",
            "cover_letter": "={{ $('cover_letter-parse').item.json.cover_letter }}",
            "cover_letter_raw": "={{ $('cover_letter-parse').item.json.raw }}",
            "date_updated": "={{ $now.toISODate() }}",
            "cover_letter_url": "TODO"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_updated",
              "displayName": "date_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_posted",
              "displayName": "date_posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score_reasoning",
              "displayName": "score_reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score_raw",
              "displayName": "score_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "site",
              "displayName": "site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "emails",
              "displayName": "emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_description",
              "displayName": "company_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_url",
              "displayName": "company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job",
              "displayName": "job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "salary",
              "displayName": "salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_remote",
              "displayName": "is_remote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "repr.job",
              "displayName": "repr.job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cover_letter",
              "displayName": "cover_letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cover_letter_url",
              "displayName": "cover_letter_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cover_letter_raw",
              "displayName": "cover_letter_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        456
      ],
      "id": "a75320b5-d113-4e82-8599-f281b036c658",
      "name": "append-or-update-job-listings-score2",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "reZ0cfDtkVX4FzeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM",
          "mode": "list",
          "cachedResultName": "job-listings-score",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "developer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $('loop-over-jobs1').item.json.url }}",
            "score": "={{ $('job_score-parse').item.json.total_score }}",
            "source": "={{ $('loop-over-jobs1').item.json.source }}",
            "company": "={{ $('loop-over-jobs1').item.json.company }}",
            "job": "={{ $('loop-over-jobs1').item.json.job }}",
            "description": "={{ $('loop-over-jobs1').item.json.description }}",
            "salary": "={{ $('loop-over-jobs1').item.json.salary }}",
            "type": "={{ $('loop-over-jobs1').item.json.type }}",
            "city": "={{ $('loop-over-jobs1').item.json.city }}",
            "status": "-",
            "company_description": "={{ $('loop-over-jobs1').item.json.company_description }}",
            "company_url": "={{ $('loop-over-jobs1').item.json.company_url }}",
            "score_raw": "={{ $('job_score-parse').item.json.raw }}",
            "cover_letter": "={{ $('job_score-parse').item.json.total_score >= 5 ? 'TODO' : '-' }}",
            "cover_letter_raw": "-",
            "date_updated": "={{ $now.toISODate() }}",
            "score_reasoning": "={{ $('job_score-parse').item.json.reasoning }}",
            "cover_letter_url": "-",
            "emails": "={{ $('loop-over-jobs1').item.json.emails }}",
            "is_remote": "={{ $('loop-over-jobs1').item.json.is_remote }}",
            "date_posted": "={{ $('loop-over-jobs1').item.json.date_posted }}",
            "site": "={{ $('loop-over-jobs1').item.json.site }}",
            "repr.job": "={{ $('loop-over-jobs1').item.json['repr.job'] }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_updated",
              "displayName": "date_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_posted",
              "displayName": "date_posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score_reasoning",
              "displayName": "score_reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score_raw",
              "displayName": "score_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "site",
              "displayName": "site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "emails",
              "displayName": "emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_description",
              "displayName": "company_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_url",
              "displayName": "company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job",
              "displayName": "job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "salary",
              "displayName": "salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_remote",
              "displayName": "is_remote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "repr.job",
              "displayName": "repr.job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cover_letter",
              "displayName": "cover_letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cover_letter_url",
              "displayName": "cover_letter_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cover_letter_raw",
              "displayName": "cover_letter_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        96
      ],
      "id": "5e0f0744-f01d-422a-92f0-e43e7ed91b38",
      "name": "append-or-update-job-listings-score1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "reZ0cfDtkVX4FzeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        560,
        96
      ],
      "id": "470dcd15-af15-42b1-bff0-fd4b66255f06",
      "name": "loop-over-jobs1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        336,
        456
      ],
      "id": "74f8fba8-dc89-43cb-a52b-938ec58b24b1",
      "name": "loop-over-jobs2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM",
          "mode": "list",
          "cachedResultName": "job-listings-score",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "developer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cover_letter_url",
              "lookupValue": "TODO"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        768
      ],
      "id": "2d7ed48a-71ff-46c8-b5c7-d61d87bec215",
      "name": "read-job-listings-score3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "reZ0cfDtkVX4FzeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "#                                  MIT License\n#                       Copyright 2026, Sébastien Kéroack\n# ==============================================================================\n\nimport base64\nimport os\nimport re\nimport subprocess\nimport tempfile\nimport unicodedata\nfrom datetime import datetime\nfrom pathlib import Path\n\n\ndef _slugify(value: str) -> str:\n    value = (value or \"\").strip()\n    # Convert accented characters to their closest ASCII equivalent (e.g., é->e, ç->c, œ->oe).\n    value = unicodedata.normalize(\"NFKD\", value).encode(\"ascii\", \"ignore\").decode(\"ascii\")\n    value = value.lower()\n    value = re.sub(r\"\\s+\", \"-\", value)\n    value = re.sub(r\"[^a-z0-9\\-_]+\", \"\", value)\n    return value or \"unknown\"\n\n\ndef _parsify(value: str) -> str:\n    value = re.sub(r\"^Objet : \", \"\", value)\n    return value\n\n\ndef _render_simple_placeholders(template_html: str, values: dict) -> str:\n    rendered = template_html\n    for key, val in values.items():\n        if val is None:\n            val = \"\"\n        val = str(val)\n        rendered = rendered.replace(key, val)\n    return rendered\n\n# ---- n8n Python node entrypoint ----\nchrome_bin = (\n    os.environ.get(\"CHROME_BIN\") or\n    os.environ.get(\"CHROMIUM_BIN\") or\n    \"chromium\")\n\nout = []\n\nfor it in _items:\n    j = it.get(\"json\") or {}\n\n    template = Path(j.get(\"template\", \"/home/runner/candidate/cover_letter.template.html\"))\n    if not template.exists():\n        raise FileNotFoundError(f\"Template not found: {template}\")\n\n    # Get first and last name\n    full_name = j[\"candidate\"][\"name\"]\n    full_name_parts = full_name.split(\" \")\n    first_name = full_name_parts[0]\n    last_name = full_name_parts[-1]\n\n    company = j[\"company\"]\n    job_title = j[\"job\"]\n    job_url = j[\"url\"]\n    pdf_name = f\"{_slugify(full_name)}-{_slugify(company)}-{_slugify(job_title)}.pdf\"\n\n    # Placeholder replacement.\n    rendered_html = _render_simple_placeholders(\n        template.read_text(encoding=\"utf-8\"),\n        {\n            \"__FNAME__\": first_name,\n            \"__LNAME__\": last_name,\n            \"__COMPANY__\": company,\n            \"__JOB_TITLE__\": job_title,\n            \"__LETTER__\": _parsify(j[\"cover_letter\"]),\n            \"__PHONE__\": j[\"candidate\"][\"phone\"],\n            \"__EMAIL__\": j[\"candidate\"][\"email\"],\n            \"__DATE__\": datetime.now().strftime(\"%B %d, %Y\"),\n        },\n    )\n\n    with tempfile.TemporaryDirectory(prefix=\"cover-letter-\") as tmp:\n        tmp_dir = Path(tmp)\n        html_path = tmp_dir / \"input.html\"\n        pdf_path = tmp_dir / \"output.pdf\"\n\n        html_path.write_text(rendered_html, encoding=\"utf-8\")\n\n        # Use Chromium directly to render the PDF\n        cmd = [\n            chrome_bin,\n            \"--headless\",\n            \"--no-sandbox\",\n            \"--disable-gpu\",\n            \"--disable-dev-shm-usage\",\n            \"--print-to-pdf-no-header\",\n            f\"--print-to-pdf={pdf_path.as_posix()}\",\n            html_path.as_uri(),\n        ]\n\n        completed = subprocess.run(\n            cmd,\n            capture_output=True,\n            text=True,\n            timeout=int(j.get(\"timeout_seconds\") or 50),\n            check=False,\n        )\n        if completed.returncode != 0:\n            raise RuntimeError(\n                \"Chromium failed to render PDF. \"\n                f\"rc={completed.returncode}\\n\"\n                f\"stdout={completed.stdout}\\n\"\n                f\"stderr={completed.stderr}\"\n            )\n\n        pdf_bytes = pdf_path.read_bytes()\n        pdf_b64 = base64.b64encode(pdf_bytes).decode(\"ascii\")\n\n    out.append(\n        {\n            \"json\": {\n                \"template\": str(template),\n                \"pdf_name\": pdf_name,\n                \"job_url\": job_url,\n            },\n            \"binary\": {\n                \"data\": {\n                    \"data\": pdf_b64,\n                    \"mimeType\": \"application/pdf\",\n                    \"fileName\": pdf_name,\n                }\n            },\n        }\n    )\n\nreturn out"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        768
      ],
      "id": "80e1453a-d6f7-4b93-bb54-effb97780510",
      "name": "cover_letter-to_pdf"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c248c80-6ed9-4870-a734-b07762cbf043",
              "name": "candidate",
              "value": "={{ $('candidate').item.json.candidate }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        768
      ],
      "id": "2a80bb8a-e263-44aa-be7c-4bb9e1028e18",
      "name": "insert-candidate-info"
    },
    {
      "parameters": {
        "name": "={{ $json.pdf_name }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1yDkUpfjEPEpS2JJoYgMykfRGZ80K8oN1",
          "mode": "list",
          "cachedResultName": "cover-letters",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1yDkUpfjEPEpS2JJoYgMykfRGZ80K8oN1"
        },
        "options": {
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "job_url",
                "value": "={{ $json.job_url }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        864
      ],
      "id": "e3790406-8cdf-440d-8ec1-1dfacc0becb7",
      "name": "cover_letter-upload",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hMA8kT5bd1ap23Rm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM",
          "mode": "list",
          "cachedResultName": "job-listings-score",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "developer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.properties.job_url }}",
            "date_updated": "={{ $now.toISODate() }}",
            "cover_letter_url": "={{ $json.webViewLink }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_updated",
              "displayName": "date_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_posted",
              "displayName": "date_posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score_reasoning",
              "displayName": "score_reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score_raw",
              "displayName": "score_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "site",
              "displayName": "site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "emails",
              "displayName": "emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_description",
              "displayName": "company_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_url",
              "displayName": "company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job",
              "displayName": "job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "salary",
              "displayName": "salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_remote",
              "displayName": "is_remote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "repr.job",
              "displayName": "repr.job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cover_letter",
              "displayName": "cover_letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cover_letter_url",
              "displayName": "cover_letter_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cover_letter_raw",
              "displayName": "cover_letter_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        864
      ],
      "id": "ba21d0fd-2210-4af9-9b38-7fcd5b96ccae",
      "name": "append-or-update-job-listings-score3",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "reZ0cfDtkVX4FzeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/candidate/candidate.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -784,
        288
      ],
      "id": "67720083-9fc1-4ac9-a88a-f801832467ba",
      "name": "candidate.json (raw)"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "candidate",
        "options": {
          "encoding": "utf8"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -560,
        288
      ],
      "id": "a4ead862-a787-4b3c-9bad-f63f83454931",
      "name": "candidate.json"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/candidate/resume.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -784,
        96
      ],
      "id": "6ebace25-6b0f-4948-9513-afc6cf8fe0d7",
      "name": "resume.md (raw)"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -560,
        96
      ],
      "id": "e0b54a4e-bfa1-4f7d-80b5-a0679c788dee",
      "name": "resume.md"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/candidate/llm/cover_letter/prompt/system.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -784,
        672
      ],
      "id": "b11b71f3-385d-424f-b323-fe39f93e1a12",
      "name": "cover_letter-prompt-system.md (raw)"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "prompt.cover_letter.system",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -560,
        672
      ],
      "id": "326d1f59-46a1-4b2d-86da-8790557b1eed",
      "name": "cover_letter-prompt-system.md"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/candidate/llm/job_score/prompt/system.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -784,
        480
      ],
      "id": "5603ad5c-59a9-4232-9663-7069f98fc55d",
      "name": "job_score-prompt-system.md (raw)"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "prompt.job_score.system",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -560,
        480
      ],
      "id": "39f5a55a-1593-4be3-ae3a-ebcfa909983b",
      "name": "job_score-prompt-system.md"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -336,
        328
      ],
      "id": "33576938-3fc2-457b-8894-eb83a4f6f410",
      "name": "merge-files"
    },
    {
      "parameters": {
        "jsCode": "function isObject(v) {\n  return v && typeof v === 'object' && !Array.isArray(v);\n}\n\nfunction deepMerge(target, source) {\n  for (const [k, v] of Object.entries(source || {})) {\n    if (isObject(v) && isObject(target[k])) {\n      deepMerge(target[k], v);\n    } else {\n      target[k] = v;\n    }\n  }\n  return target;\n}\n\nlet merged = {};\nfor (const item of $input.all()) {\n  merged = deepMerge(merged, item.json);\n}\n\nreturn [{ json: merged }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        360
      ],
      "id": "631cdf3b-a140-4f91-bc17-12ed11ede43a",
      "name": "candidate"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name = '{{ $json.pdf_name }}'\nand trashed = false",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        672
      ],
      "id": "916f3d93-6d3b-40e3-a6e6-5d450209fe0a",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hMA8kT5bd1ap23Rm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1008,
        672
      ],
      "id": "35d0511d-cd4b-4a7a-b02f-e8c08d58182a",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hMA8kT5bd1ap23Rm",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "job_score-prompt": {
      "main": [
        [
          {
            "node": "job_score-llm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "job_score-llm": {
      "main": [
        [
          {
            "node": "job_score-parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "job_score-parse": {
      "main": [
        [
          {
            "node": "append-or-update-job-listings-score1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "resume.md (raw)",
            "type": "main",
            "index": 0
          },
          {
            "node": "candidate.json (raw)",
            "type": "main",
            "index": 0
          },
          {
            "node": "job_score-prompt-system.md (raw)",
            "type": "main",
            "index": 0
          },
          {
            "node": "cover_letter-prompt-system.md (raw)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read-new-job-listings": {
      "main": [
        [
          {
            "node": "loop-over-jobs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cover_letter-prompt": {
      "main": [
        [
          {
            "node": "cover_letter-llm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cover_letter-llm": {
      "main": [
        [
          {
            "node": "cover_letter-parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cover_letter-parse": {
      "main": [
        [
          {
            "node": "append-or-update-job-listings-score2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read-job-listings1": {
      "main": [
        [
          {
            "node": "read-new-job-listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read-job-listings-score1": {
      "main": [
        [
          {
            "node": "read-new-job-listings",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "read-job-listings-score2": {
      "main": [
        [
          {
            "node": "loop-over-jobs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "append-or-update-job-listings-score2": {
      "main": [
        [
          {
            "node": "loop-over-jobs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "append-or-update-job-listings-score1": {
      "main": [
        [
          {
            "node": "loop-over-jobs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop-over-jobs1": {
      "main": [
        [],
        [
          {
            "node": "job_score-prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop-over-jobs2": {
      "main": [
        [],
        [
          {
            "node": "cover_letter-prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read-job-listings-score3": {
      "main": [
        [
          {
            "node": "insert-candidate-info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert-candidate-info": {
      "main": [
        [
          {
            "node": "cover_letter-to_pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cover_letter-to_pdf": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          },
          {
            "node": "cover_letter-upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cover_letter-upload": {
      "main": [
        [
          {
            "node": "append-or-update-job-listings-score3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "candidate.json (raw)": {
      "main": [
        [
          {
            "node": "candidate.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "candidate.json": {
      "main": [
        [
          {
            "node": "merge-files",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "resume.md (raw)": {
      "main": [
        [
          {
            "node": "resume.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resume.md": {
      "main": [
        [
          {
            "node": "merge-files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cover_letter-prompt-system.md (raw)": {
      "main": [
        [
          {
            "node": "cover_letter-prompt-system.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "job_score-prompt-system.md (raw)": {
      "main": [
        [
          {
            "node": "job_score-prompt-system.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "job_score-prompt-system.md": {
      "main": [
        [
          {
            "node": "merge-files",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "cover_letter-prompt-system.md": {
      "main": [
        [
          {
            "node": "merge-files",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "merge-files": {
      "main": [
        [
          {
            "node": "candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "candidate": {
      "main": [
        [
          {
            "node": "read-job-listings1",
            "type": "main",
            "index": 0
          },
          {
            "node": "read-job-listings-score1",
            "type": "main",
            "index": 0
          },
          {
            "node": "read-job-listings-score2",
            "type": "main",
            "index": 0
          },
          {
            "node": "read-job-listings-score3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "25c685a6-0882-43a9-8dcb-377fc7c9e74a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d79135bad5e5016f82ec360fb613505c32cf82dee8dd57489aa4750208f252dd"
  },
  "id": "9K27kb1tNUEggbH-2AWsD",
  "tags": []
}