workflows/job-listings-score.json
{
  "name": "job-listings-score",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7d2d1da-ba79-4ba2-92a6-5f254188df95",
              "name": "system",
              "value": "={{ $('candidate').item.json.prompt.compatibility_score.system }}",
              "type": "string"
            },
            {
              "id": "c8dc2eb0-b8e9-4af3-8e05-f424a65a6340",
              "name": "user",
              "value": "=<job>\nTitle: {{ $json.job }}\nLevel: {{ $json.level }}\nSalary: {{ $json.salary }}\nType: {{ $json.type }}\nCity: {{ $json.city }}\n{{ $json.description }}\n</job>\n\n<cv>\n{{ $('candidate').item.json.resume }}\n</cv>\n",
              "type": "string"
            },
            {
              "id": "77160308-223b-4848-8470-c7442fcf7bd2",
              "name": "default",
              "value": "{\"score\":0,\"reasoning\":\"N/A\"}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        32
      ],
      "id": "bcfdd49e-1f36-400f-bc6b-c33ff84c1524",
      "name": "compatibility_score-prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-5-mini\",\n  \"reasoning\": {\"effort\": \"medium\"},\n  \"max_output_tokens\": 4096,\n  \"instructions\": {{ JSON.stringify($json.system) }},\n  \"input\": {{ JSON.stringify($json.user) }},\n  \"text\": {\n    \"format\": {\n      \"name\": \"content\",\n      \"type\": \"json_schema\",\n      \"strict\": true,\n      \"schema\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"score\": {\"type\": \"integer\", \"minimum\": 0, \"maximum\": 18},\n          \"reasoning\": {\"type\": \"string\", \"maxLength\": 1890}\n        },\n        \"required\": [\"score\", \"reasoning\"]\n      }\n    }\n  },\n  \"store\": false\n}",
        "options": {
          "timeout": 900000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        32
      ],
      "id": "e8d690b7-6361-46b0-95c4-9550623c48d5",
      "name": "compatibility_score-llm",
      "credentials": {
        "openAiApi": {
          "id": "AiJX2Ln9yXCzt0TT",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "//                                MIT License\n//                     Copyright 2026, Sébastien Kéroack\n// =============================================================================\n\nconst common = require('/home/runner/job-search-pipeline/job_search_pipeline/utils/parse/common.js').default;\n\n// Run Once for All Items\nconst job = $('loop-over-jobs1').first().json;\nconst llm = $input.first().json;\n\n// Extract LLM Content\nconst content = common.extractInputText(llm);\nconst effectiveContent = (\n  typeof content === 'string'\n  && content.trim()\n) ? content : common.getDefaultTemplate('compatibility_score-prompt');\n\n// Preprocess content\n// 1. Strip Markdown code fences if the model returned ```json ... ```\n// 2. Normalize various dash characters and HTML entities to ASCII hyphen-minus\nconst cleanedContent = common.normalizeDashes(common.stripCodeFences(effectiveContent));\n\n// Parse JSON content\nlet result = common.parseFirstJsonOrDefault(cleanedContent, 'compatibility_score-prompt');\n\n// Clamp score between 0 and 18\nresult.score = common.clampScore(result.score ?? 0, 0, 18);\n\n// Conditional Application Letter\nresult.application_letter = (\n  result.score >= 13\n  && common.levelToRank(job.level) <= common.LEVEL_MAP.mid\n) ? 'TODO' : '-';\n\n// Conditional Application Email\nresult.application_email = (\n  result.application_letter === 'TODO'\n  && typeof job.emails === 'string'\n  && job.emails.trim()\n) ? 'TODO' : '-';\n\n// Return Result with Raw Content for Debugging when needed\nresult.raw = effectiveContent;\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        32
      ],
      "id": "d98c3ab2-4641-4c6f-88b0-f26c3fff9e95",
      "name": "compatibility_score-parse"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1120,
        464
      ],
      "id": "09593359-4659-4364-965e-a7adca7e3803",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "-- Select all columns from both inputs\nSELECT *\nFROM input1 i1\n\n-- Left join input2 so we keep all rows from input1\n-- even when there is no matching URL in input2\nLEFT JOIN input2 i2\n  ON i1.[url] = i2.[url]\n\n-- Filter to rows where input2 is missing\n-- or where the score is missing or invalid\nWHERE i2.[url] IS NULL        -- No matching URL found in input2\n   OR i2.[score] IS NULL      -- Score is NULL\n   OR i2.[score] = ''         -- Score is an empty string\n   OR i2.[score] = 'N/A'      -- Score marked as not available\n   OR i2.[score] = 'TODO'     -- Score marked as a placeholder",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        96
      ],
      "id": "aec3009f-b845-4c85-af5e-5672797997f1",
      "name": "read-new-job-listings"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7d2d1da-ba79-4ba2-92a6-5f254188df95",
              "name": "system",
              "value": "={{ $('candidate').item.json.prompt.application_letter.system }}",
              "type": "string"
            },
            {
              "id": "c8dc2eb0-b8e9-4af3-8e05-f424a65a6340",
              "name": "user",
              "value": "=<job>\nTitle: {{ $json.job }}\nLevel: {{ $json.level }}\nSalary: {{ $json.salary }}\nType: {{ $json.type }}\nCity: {{ $json.city }}\nSource: {{ $json.site }}\n{{ $json.description }}\n</job>\n\n<cv>\n{{ $('candidate').item.json.resume }}\n</cv>\n\n<compatibility_score>\n{{ $json.score }} out of 18\n{{ $json.score_reasoning }}\n</compatibility_score>\n",
              "type": "string"
            },
            {
              "id": "43654609-ba9e-4ae5-99bb-777feba945de",
              "name": "default",
              "value": "{\"body\":\"N/A\"}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        384
      ],
      "id": "29cc7df4-5d7d-42e9-b96a-062ae518f3a6",
      "name": "application_letter-prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-5-mini\",\n  \"reasoning\": {\"effort\": \"high\"},\n  \"max_output_tokens\": 16384,\n  \"instructions\": {{ JSON.stringify($json.system) }},\n  \"input\": {{ JSON.stringify($json.user) }},\n  \"text\": {\n    \"format\": {\n      \"name\": \"content\",\n      \"type\": \"json_schema\",\n      \"strict\": true,\n      \"schema\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"body\": {\"type\": \"string\", \"maxLength\": 2940}\n        },\n        \"required\": [\"body\"]\n      }\n    }\n  },\n  \"store\": false\n}",
        "options": {
          "timeout": 900000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        384
      ],
      "id": "99e38962-252d-44be-9af4-143ba9503c32",
      "name": "application_letter-llm",
      "credentials": {
        "openAiApi": {
          "id": "AiJX2Ln9yXCzt0TT",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "//                                MIT License\n//                     Copyright 2026, Sébastien Kéroack\n// =============================================================================\n\nconst common = require('/home/runner/job-search-pipeline/job_search_pipeline/utils/parse/common.js').default;\n\nlet input_json = $input.first().json;\n\nconst content = common.extractInputText(input_json);\n\nconst effectiveContent = typeof content === 'string' && content.trim() ? content : common.getDefaultTemplate('application_letter-prompt');\n\n// Strip Markdown code fences if the model returned ```json ... ```\nlet cleaned = common.stripCodeFences(effectiveContent);\n\n// Normalize various dash characters and HTML entities to ASCII hyphen-minus\ncleaned = common.normalizeDashes(cleaned);\n\n// Parse\nlet json = common.parseFirstJsonOrDefault(cleaned, 'application_letter-prompt');\n\njson.raw = effectiveContent;\nreturn [{ json: json }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        384
      ],
      "id": "f47bb9dc-c669-4c3d-afb7-55e3dda4b1b7",
      "name": "application_letter-parse"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JalkGTJfNuJonHrMcG7f601QqmQB9b9Wwo9rosm16p8",
          "mode": "list",
          "cachedResultName": "job-listings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JalkGTJfNuJonHrMcG7f601QqmQB9b9Wwo9rosm16p8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "developer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JalkGTJfNuJonHrMcG7f601QqmQB9b9Wwo9rosm16p8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "b52dac75-44a0-44b5-9566-c16109acfaef",
      "name": "read-job-listings1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "reZ0cfDtkVX4FzeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM",
          "mode": "list",
          "cachedResultName": "job-listings-score",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "developer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        192
      ],
      "id": "5684c63c-fd3a-4c6d-944f-ed4109bc443d",
      "name": "read-job-listings-score1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "reZ0cfDtkVX4FzeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM",
          "mode": "list",
          "cachedResultName": "job-listings-score",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "developer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "application_letter",
              "lookupValue": "TODO"
            },
            {
              "lookupColumn": "application_letter",
              "lookupValue": "N/A"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        464
      ],
      "id": "e08fc553-c5a7-4bb8-8934-cd13034946a8",
      "name": "read-job-listings-score2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "reZ0cfDtkVX4FzeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM",
          "mode": "list",
          "cachedResultName": "job-listings-score",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "developer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $('loop-over-jobs2').item.json.url }}",
            "application_letter": "={{ $('application_letter-parse').item.json.body }}",
            "application_letter_raw": "={{ $('application_letter-parse').item.json.raw }}",
            "date_updated": "={{ $now.toISODate() }}",
            "application_letter_url": "TODO"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_updated",
              "displayName": "date_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_posted",
              "displayName": "date_posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score_reasoning",
              "displayName": "score_reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score_raw",
              "displayName": "score_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "site",
              "displayName": "site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "emails",
              "displayName": "emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_description",
              "displayName": "company_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_url",
              "displayName": "company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job",
              "displayName": "job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "level_raw",
              "displayName": "level_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "salary",
              "displayName": "salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_remote",
              "displayName": "is_remote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "repr.job",
              "displayName": "repr.job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "application_letter",
              "displayName": "application_letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "application_letter_raw",
              "displayName": "application_letter_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "application_letter_url",
              "displayName": "application_letter_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_letter",
              "displayName": "email_letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_letter_raw",
              "displayName": "email_letter_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        464
      ],
      "id": "8bea2542-99e9-4053-a41f-1e2db6e051e2",
      "name": "append-or-update-job-listings-score2",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "reZ0cfDtkVX4FzeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM",
          "mode": "list",
          "cachedResultName": "job-listings-score",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "developer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $('loop-over-jobs1').item.json.url }}",
            "score": "={{ $json.score }}",
            "source": "={{ $('loop-over-jobs1').item.json.source }}",
            "company": "={{ $('loop-over-jobs1').item.json.company }}",
            "job": "={{ $('loop-over-jobs1').item.json.job }}",
            "description": "={{ $('loop-over-jobs1').item.json.description }}",
            "salary": "={{ $('loop-over-jobs1').item.json.salary }}",
            "type": "={{ $('loop-over-jobs1').item.json.type }}",
            "city": "={{ $('loop-over-jobs1').item.json.city }}",
            "status": "-",
            "company_description": "={{ $('loop-over-jobs1').item.json.company_description }}",
            "company_url": "={{ $('loop-over-jobs1').item.json.company_url }}",
            "score_raw": "={{ $json.raw }}",
            "date_updated": "={{ $now.toISODate() }}",
            "score_reasoning": "={{ $json.reasoning }}",
            "emails": "={{ $('loop-over-jobs1').item.json.emails }}",
            "is_remote": "={{ $('loop-over-jobs1').item.json.is_remote }}",
            "date_posted": "={{ $('loop-over-jobs1').item.json.date_posted }}",
            "site": "={{ $('loop-over-jobs1').item.json.site }}",
            "repr.job": "={{ $('loop-over-jobs1').item.json['repr.job'] }}",
            "email_letter": "={{ $json.application_email }}",
            "email_letter_raw": "-",
            "application_letter": "={{ $json.application_letter }}",
            "application_letter_raw": "=-",
            "application_letter_url": "-",
            "level": "={{ $('loop-over-jobs1').item.json.level }}",
            "level_raw": "={{ $('loop-over-jobs1').item.json.level_raw }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_updated",
              "displayName": "date_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_posted",
              "displayName": "date_posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score_reasoning",
              "displayName": "score_reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score_raw",
              "displayName": "score_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "site",
              "displayName": "site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "emails",
              "displayName": "emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_description",
              "displayName": "company_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_url",
              "displayName": "company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job",
              "displayName": "job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "level_raw",
              "displayName": "level_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "salary",
              "displayName": "salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_remote",
              "displayName": "is_remote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "repr.job",
              "displayName": "repr.job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "application_letter",
              "displayName": "application_letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "application_letter_raw",
              "displayName": "application_letter_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "application_letter_url",
              "displayName": "application_letter_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_letter",
              "displayName": "email_letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_letter_raw",
              "displayName": "email_letter_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        96
      ],
      "id": "8abef15f-4483-48c4-95d0-30fe54907f95",
      "name": "append-or-update-job-listings-score1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "reZ0cfDtkVX4FzeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        96
      ],
      "id": "4d340fd7-c510-41ed-8642-238e510eacf6",
      "name": "loop-over-jobs1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        464
      ],
      "id": "261f104d-8106-4de3-a95e-a0e5f86fecd6",
      "name": "loop-over-jobs2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM",
          "mode": "list",
          "cachedResultName": "job-listings-score",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "developer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "application_letter_url",
              "lookupValue": "TODO"
            },
            {
              "lookupColumn": "application_letter_url",
              "lookupValue": "http"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        768
      ],
      "id": "d09b9860-7a19-4fd1-ad1e-6e95f7bb6ed3",
      "name": "read-job-listings-score3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "reZ0cfDtkVX4FzeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "#                                  MIT License\n#                       Copyright 2026, Sébastien Kéroack\n# ==============================================================================\n\nimport base64\nimport os\nimport re\nimport subprocess\nimport tempfile\nimport unicodedata\nfrom datetime import datetime\nfrom pathlib import Path\n\n\ndef _slugify(value: str) -> str:\n    value = (value or \"\").strip()\n    # Convert accented characters to their closest ASCII equivalent (e.g., é->e, ç->c, œ->oe).\n    value = unicodedata.normalize(\"NFKD\", value).encode(\"ascii\", \"ignore\").decode(\"ascii\")\n    value = value.lower()\n    value = re.sub(r\"\\s+\", \"-\", value)\n    value = re.sub(r\"[^a-z0-9\\-_]+\", \"\", value)\n    return value or \"unknown\"\n\n\ndef _parsify(value: str) -> str:\n    value = re.sub(r\"^Objet : \", \"\", value)\n    return value\n\n\ndef _render_simple_placeholders(template_html: str, values: dict) -> str:\n    rendered = template_html\n    for key, val in values.items():\n        if val is None:\n            val = \"\"\n        val = str(val)\n        rendered = rendered.replace(key, val)\n    return rendered\n\n# ---- n8n Python node entrypoint ----\nchrome_bin = (\n    os.environ.get(\"CHROME_BIN\") or\n    os.environ.get(\"CHROMIUM_BIN\") or\n    \"chromium\")\n\nout = []\n\nfor it in _items:\n    j = it.get(\"json\") or {}\n\n    template = Path(j.get(\"template\", \"/home/runner/candidate/llm/application_letter/template.html\"))\n    if not template.exists():\n        raise FileNotFoundError(f\"Template not found: {template}\")\n\n    # Get first and last name\n    full_name = j[\"candidate\"][\"name\"]\n    full_name_parts = full_name.split(\" \")\n    first_name = full_name_parts[0]\n    last_name = full_name_parts[-1]\n\n    company = j[\"company\"]\n    job_title = j[\"job\"]\n    job_url = j[\"url\"]\n    pdf_name = f\"{_slugify(full_name)}-{_slugify(company)}-{_slugify(job_title)}.pdf\"\n\n    # Placeholder replacement.\n    rendered_html = _render_simple_placeholders(\n        template.read_text(encoding=\"utf-8\"),\n        {\n            \"__FNAME__\": first_name,\n            \"__LNAME__\": last_name,\n            \"__COMPANY__\": company,\n            \"__JOB_TITLE__\": job_title,\n            \"__LETTER__\": _parsify(j[\"application_letter\"]),\n            \"__PHONE__\": j[\"candidate\"][\"phone\"],\n            \"__EMAIL__\": j[\"candidate\"][\"email\"],\n            \"__DATE__\": datetime.now().strftime(\"%B %d, %Y\"),\n        },\n    )\n\n    with tempfile.TemporaryDirectory(prefix=\"cover-letter-\") as tmp:\n        tmp_dir = Path(tmp)\n        html_path = tmp_dir / \"input.html\"\n        pdf_path = tmp_dir / \"output.pdf\"\n\n        html_path.write_text(rendered_html, encoding=\"utf-8\")\n\n        # Use Chromium directly to render the PDF\n        cmd = [\n            chrome_bin,\n            \"--headless\",\n            \"--no-sandbox\",\n            \"--disable-gpu\",\n            \"--disable-dev-shm-usage\",\n            \"--print-to-pdf-no-header\",\n            f\"--print-to-pdf={pdf_path.as_posix()}\",\n            html_path.as_uri(),\n        ]\n\n        completed = subprocess.run(\n            cmd,\n            capture_output=True,\n            text=True,\n            timeout=int(j.get(\"timeout_seconds\") or 50),\n            check=False,\n        )\n        if completed.returncode != 0:\n            raise RuntimeError(\n                \"Chromium failed to render PDF. \"\n                f\"rc={completed.returncode}\\n\"\n                f\"stdout={completed.stdout}\\n\"\n                f\"stderr={completed.stderr}\"\n            )\n\n        pdf_bytes = pdf_path.read_bytes()\n        pdf_b64 = base64.b64encode(pdf_bytes).decode(\"ascii\")\n\n    out.append(\n        {\n            \"json\": {\n                \"template\": str(template),\n                \"pdf_name\": pdf_name,\n                \"job_url\": job_url,\n            },\n            \"binary\": {\n                \"data\": {\n                    \"data\": pdf_b64,\n                    \"mimeType\": \"application/pdf\",\n                    \"fileName\": pdf_name,\n                }\n            },\n        }\n    )\n\nreturn out\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        768
      ],
      "id": "1fc2016e-49d0-463a-a622-29d3c5dc4a3f",
      "name": "application_letter-to_pdf"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c248c80-6ed9-4870-a734-b07762cbf043",
              "name": "candidate",
              "value": "={{ $('candidate').item.json.candidate }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        768
      ],
      "id": "c30c846f-acd6-4566-b0be-f19a089be810",
      "name": "insert-candidate-info"
    },
    {
      "parameters": {
        "name": "={{ $json.pdf_name }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1yDkUpfjEPEpS2JJoYgMykfRGZ80K8oN1",
          "mode": "list",
          "cachedResultName": "cover-letters",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1yDkUpfjEPEpS2JJoYgMykfRGZ80K8oN1"
        },
        "options": {
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "job_url",
                "value": "={{ $json.job_url }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        864
      ],
      "id": "b0e11600-d45c-46fa-9175-57236edc53e7",
      "name": "application_letter-upload",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hMA8kT5bd1ap23Rm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM",
          "mode": "list",
          "cachedResultName": "job-listings-score",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "developer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.properties.job_url }}",
            "date_updated": "={{ $now.toISODate() }}",
            "application_letter_url": "={{ $json.webViewLink }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_updated",
              "displayName": "date_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_posted",
              "displayName": "date_posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score_reasoning",
              "displayName": "score_reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score_raw",
              "displayName": "score_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "site",
              "displayName": "site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "emails",
              "displayName": "emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_description",
              "displayName": "company_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_url",
              "displayName": "company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job",
              "displayName": "job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "level_raw",
              "displayName": "level_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "salary",
              "displayName": "salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_remote",
              "displayName": "is_remote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "repr.job",
              "displayName": "repr.job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "application_letter",
              "displayName": "application_letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "application_letter_raw",
              "displayName": "application_letter_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "application_letter_url",
              "displayName": "application_letter_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_letter",
              "displayName": "email_letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_letter_raw",
              "displayName": "email_letter_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        864
      ],
      "id": "3391f64d-d094-48e9-83e9-a16ddd42f527",
      "name": "append-or-update-job-listings-score3",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "reZ0cfDtkVX4FzeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/candidate/candidate.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -896,
        384
      ],
      "id": "d964e930-cc2e-4f2b-9c52-a20174f082c5",
      "name": "candidate.json (raw)"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "candidate",
        "options": {
          "encoding": "utf8"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -672,
        384
      ],
      "id": "e737a291-c690-4a49-8427-30d165881730",
      "name": "candidate.json"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/candidate/resume.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -896,
        192
      ],
      "id": "872195ef-ac74-493d-86f1-230fa4c52142",
      "name": "resume.md (raw)"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -672,
        192
      ],
      "id": "b7da7369-796d-4176-98a0-61796f578c3a",
      "name": "resume.md"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/candidate/llm/application_letter/prompt/system.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -896,
        768
      ],
      "id": "94f7a923-336e-45d5-bb06-3cb0ccde1519",
      "name": "application_letter-prompt-system.md (raw)"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "prompt.application_letter.system",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -672,
        768
      ],
      "id": "aa0f1420-0262-4a09-a16e-35d091c8bd86",
      "name": "application_letter-prompt-system.md"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/candidate/llm/compatibility_score/prompt/system.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -896,
        576
      ],
      "id": "d7bc11a8-47c4-4a2d-b8e0-efbe5cd4b66c",
      "name": "compatibility_score-prompt-system.md (raw)"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "prompt.compatibility_score.system",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -672,
        576
      ],
      "id": "99c74d2e-df33-42b6-aa33-62549e2bd238",
      "name": "compatibility_score-prompt-system.md"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -448,
        416
      ],
      "id": "39dd5f3f-5a31-4164-9044-5eb64df129ad",
      "name": "merge-files"
    },
    {
      "parameters": {
        "jsCode": "function isObject(v) {\n  return v && typeof v === 'object' && !Array.isArray(v);\n}\n\nfunction deepMerge(target, source) {\n  for (const [k, v] of Object.entries(source || {})) {\n    if (isObject(v) && isObject(target[k])) {\n      deepMerge(target[k], v);\n    } else {\n      target[k] = v;\n    }\n  }\n  return target;\n}\n\nlet merged = {};\nfor (const item of $input.all()) {\n  merged = deepMerge(merged, item.json);\n}\n\nreturn [{ json: merged }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        464
      ],
      "id": "f1d49c0d-730f-4f09-9893-34086224e4e6",
      "name": "candidate"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name = '{{ $json.pdf_name }}'\nand trashed = false",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        672
      ],
      "id": "2ab20cb4-6b41-4c16-b66f-9efc8600397b",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hMA8kT5bd1ap23Rm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        896,
        672
      ],
      "id": "58d3b69a-75dc-43f7-b611-2034500409d6",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hMA8kT5bd1ap23Rm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM",
          "mode": "list",
          "cachedResultName": "job-listings-score",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "developer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email_letter",
              "lookupValue": "TODO"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        1136
      ],
      "id": "9176e14c-3a80-4333-b013-8cd94bf3d7a8",
      "name": "read-job-listings-score4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "reZ0cfDtkVX4FzeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        1136
      ],
      "id": "508e57a8-cbfb-48b2-aa24-55c8b91fd147",
      "name": "loop-over-jobs4"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM",
          "mode": "list",
          "cachedResultName": "job-listings-score",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "developer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WXDkLdH1X7Hm3agpdcr3XzDYqXiJ1TqKHUIBnmM96xM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $('loop-over-jobs4').item.json.url }}",
            "date_updated": "={{ $now.toISODate() }}",
            "email_letter": "={{ $('application_email-parse').item.json.subject }}\n\nBody:\n============================================\n{{ $('application_email-parse').item.json.body }}",
            "email_letter_raw": "={{ $('application_email-parse').item.json.raw }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_updated",
              "displayName": "date_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_posted",
              "displayName": "date_posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score_reasoning",
              "displayName": "score_reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score_raw",
              "displayName": "score_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "site",
              "displayName": "site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "emails",
              "displayName": "emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_description",
              "displayName": "company_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_url",
              "displayName": "company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job",
              "displayName": "job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "level_raw",
              "displayName": "level_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "salary",
              "displayName": "salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_remote",
              "displayName": "is_remote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "repr.job",
              "displayName": "repr.job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "application_letter",
              "displayName": "application_letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "application_letter_raw",
              "displayName": "application_letter_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "application_letter_url",
              "displayName": "application_letter_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_letter",
              "displayName": "email_letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_letter_raw",
              "displayName": "email_letter_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        1136
      ],
      "id": "390256ea-4d6b-47ce-b507-7650b51f50a7",
      "name": "append-or-update-job-listings-score4",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "reZ0cfDtkVX4FzeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7d2d1da-ba79-4ba2-92a6-5f254188df95",
              "name": "system",
              "value": "={{ $('candidate').item.json.prompt.application_email.system }}",
              "type": "string"
            },
            {
              "id": "c8dc2eb0-b8e9-4af3-8e05-f424a65a6340",
              "name": "user",
              "value": "=<job>\nTitle: {{ $json.job }}\nLevel: {{ $json.level }}\nSalary: {{ $json.salary }}\nType: {{ $json.type }}\nCity: {{ $json.city }}\nSource: {{ $json.site }}\n{{ $json.description }}\n</job>\n\n<cv>\n{{ $('candidate').item.json.resume }}\n</cv>\n\n<compatibility_score>\n{{ $json.score }} out of 18\n{{ $json.score_reasoning }}\n</compatibility_score>\n\n<application_letter>\n{{ $json.application_letter }}\n</application_letter>\n",
              "type": "string"
            },
            {
              "id": "43654609-ba9e-4ae5-99bb-777feba945de",
              "name": "default",
              "value": "{\"subject\":\"N/A\",\"body\":\"N/A\"}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        1056
      ],
      "id": "98385fdc-a173-4b81-8547-6d4340886b9a",
      "name": "application_email-prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-5-mini\",\n  \"reasoning\": {\"effort\": \"high\"},\n  \"max_output_tokens\": 16384,\n  \"instructions\": {{ JSON.stringify($json.system) }},\n  \"input\": {{ JSON.stringify($json.user) }},\n  \"text\": {\n    \"format\": {\n      \"name\": \"content\",\n      \"type\": \"json_schema\",\n      \"strict\": true,\n      \"schema\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"subject\": {\"type\": \"string\", \"maxLength\": 98},\n          \"body\": {\"type\": \"string\", \"maxLength\": 2940}\n        },\n        \"required\": [\"subject\", \"body\"]\n      }\n    }\n  },\n  \"store\": false\n}",
        "options": {
          "timeout": 900000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        1056
      ],
      "id": "cad6500a-a1ff-4a4e-86b6-fd511e92762c",
      "name": "application_email-llm",
      "credentials": {
        "openAiApi": {
          "id": "AiJX2Ln9yXCzt0TT",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "//                                MIT License\n//                     Copyright 2026, Sébastien Kéroack\n// =============================================================================\n\nconst common = require('/home/runner/job-search-pipeline/job_search_pipeline/utils/parse/common.js').default;\n\nlet input_json = $input.first().json;\n\nconst content = common.extractInputText(input_json);\n\nconst effectiveContent = typeof content === 'string' && content.trim() ? content : common.getDefaultTemplate('application_email-prompt');\n\n// Strip Markdown code fences if the model returned ```json ... ```\nlet cleaned = common.stripCodeFences(effectiveContent);\n\n// Normalize various dash characters and HTML entities to ASCII hyphen-minus\ncleaned = common.normalizeDashes(cleaned);\n\n// Parse\nlet json = common.parseFirstJsonOrDefault(cleaned, 'application_email-prompt');\n\njson.raw = effectiveContent;\nreturn [{ json: json }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        1056
      ],
      "id": "a200c5ca-4615-45d5-9c7e-0e002103e63b",
      "name": "application_email-parse"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/candidate/llm/application_email/prompt/system.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -896,
        960
      ],
      "id": "fe9214b0-dbdf-4852-a2ba-854b68caab14",
      "name": "application_email-prompt-system.md (raw)"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "prompt.application_email.system",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -672,
        960
      ],
      "id": "bec74c68-ec82-4f6a-a61e-5dddf51137eb",
      "name": "application_email-prompt-system.md"
    }
  ],
  "pinData": {},
  "connections": {
    "compatibility_score-prompt": {
      "main": [
        [
          {
            "node": "compatibility_score-llm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compatibility_score-llm": {
      "main": [
        [
          {
            "node": "compatibility_score-parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compatibility_score-parse": {
      "main": [
        [
          {
            "node": "append-or-update-job-listings-score1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "resume.md (raw)",
            "type": "main",
            "index": 0
          },
          {
            "node": "candidate.json (raw)",
            "type": "main",
            "index": 0
          },
          {
            "node": "compatibility_score-prompt-system.md (raw)",
            "type": "main",
            "index": 0
          },
          {
            "node": "application_letter-prompt-system.md (raw)",
            "type": "main",
            "index": 0
          },
          {
            "node": "application_email-prompt-system.md (raw)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read-new-job-listings": {
      "main": [
        [
          {
            "node": "loop-over-jobs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "application_letter-prompt": {
      "main": [
        [
          {
            "node": "application_letter-llm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "application_letter-llm": {
      "main": [
        [
          {
            "node": "application_letter-parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "application_letter-parse": {
      "main": [
        [
          {
            "node": "append-or-update-job-listings-score2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read-job-listings1": {
      "main": [
        [
          {
            "node": "read-new-job-listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read-job-listings-score1": {
      "main": [
        [
          {
            "node": "read-new-job-listings",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "read-job-listings-score2": {
      "main": [
        [
          {
            "node": "loop-over-jobs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "append-or-update-job-listings-score2": {
      "main": [
        [
          {
            "node": "loop-over-jobs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "append-or-update-job-listings-score1": {
      "main": [
        [
          {
            "node": "loop-over-jobs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop-over-jobs1": {
      "main": [
        [],
        [
          {
            "node": "compatibility_score-prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop-over-jobs2": {
      "main": [
        [],
        [
          {
            "node": "application_letter-prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read-job-listings-score3": {
      "main": [
        [
          {
            "node": "insert-candidate-info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert-candidate-info": {
      "main": [
        [
          {
            "node": "application_letter-to_pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "application_letter-to_pdf": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          },
          {
            "node": "application_letter-upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "application_letter-upload": {
      "main": [
        [
          {
            "node": "append-or-update-job-listings-score3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "candidate.json (raw)": {
      "main": [
        [
          {
            "node": "candidate.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "candidate.json": {
      "main": [
        [
          {
            "node": "merge-files",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "resume.md (raw)": {
      "main": [
        [
          {
            "node": "resume.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resume.md": {
      "main": [
        [
          {
            "node": "merge-files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "application_letter-prompt-system.md (raw)": {
      "main": [
        [
          {
            "node": "application_letter-prompt-system.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compatibility_score-prompt-system.md (raw)": {
      "main": [
        [
          {
            "node": "compatibility_score-prompt-system.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compatibility_score-prompt-system.md": {
      "main": [
        [
          {
            "node": "merge-files",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "application_letter-prompt-system.md": {
      "main": [
        [
          {
            "node": "merge-files",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "merge-files": {
      "main": [
        [
          {
            "node": "candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "candidate": {
      "main": [
        [
          {
            "node": "read-job-listings1",
            "type": "main",
            "index": 0
          },
          {
            "node": "read-job-listings-score1",
            "type": "main",
            "index": 0
          },
          {
            "node": "read-job-listings-score2",
            "type": "main",
            "index": 0
          },
          {
            "node": "read-job-listings-score3",
            "type": "main",
            "index": 0
          },
          {
            "node": "read-job-listings-score4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read-job-listings-score4": {
      "main": [
        [
          {
            "node": "loop-over-jobs4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop-over-jobs4": {
      "main": [
        [],
        [
          {
            "node": "application_email-prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "append-or-update-job-listings-score4": {
      "main": [
        [
          {
            "node": "loop-over-jobs4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "application_email-prompt": {
      "main": [
        [
          {
            "node": "application_email-llm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "application_email-llm": {
      "main": [
        [
          {
            "node": "application_email-parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "application_email-parse": {
      "main": [
        [
          {
            "node": "append-or-update-job-listings-score4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "application_email-prompt-system.md (raw)": {
      "main": [
        [
          {
            "node": "application_email-prompt-system.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "application_email-prompt-system.md": {
      "main": [
        [
          {
            "node": "merge-files",
            "type": "main",
            "index": 4
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "75d07383-0d9c-4980-a079-28da865496f2",
  "meta": {
    "instanceId": "d79135bad5e5016f82ec360fb613505c32cf82dee8dd57489aa4750208f252dd"
  },
  "id": "oQIWH0twEkG1xFxZdctJs",
  "tags": []
}