workflows/job-listings.json
{
  "name": "job-listings",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        912
      ],
      "id": "25092e83-33f4-4f58-9305-a4d0b2e87527",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7fddbb59-85ad-42ca-8faa-5d5aa0090f78",
              "leftValue": "={{ $json }}",
              "rightValue": 1,
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1424,
        848
      ],
      "id": "e75e38b3-3634-44b2-a7d9-00a846777cd8",
      "name": "if-not-empty"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1JalkGTJfNuJonHrMcG7f601QqmQB9b9Wwo9rosm16p8",
          "mode": "list",
          "cachedResultName": "job-listings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JalkGTJfNuJonHrMcG7f601QqmQB9b9Wwo9rosm16p8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "developer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JalkGTJfNuJonHrMcG7f601QqmQB9b9Wwo9rosm16p8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.url }}",
            "source": "={{ $json.source }}",
            "company": "={{ $json.company }}",
            "job": "={{ $json.title }}",
            "description": "={{ $json.description }}",
            "salary": "={{ $json.salary }}",
            "type": "={{ $json.type }}",
            "city": "={{ $json.city }}",
            "company_description": "={{ $json.company_description }}",
            "company_url": "={{ $json.company_url }}",
            "date_updated": "={{ $now.toISODate() }}",
            "emails": "={{ $json.emails }}",
            "is_remote": "={{ $json.is_remote }}",
            "date_posted": "={{ $json.date_posted }}",
            "site": "={{ $json.site }}",
            "repr.job": "={{ $json.job }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_updated",
              "displayName": "date_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_posted",
              "displayName": "date_posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "site",
              "displayName": "site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "emails",
              "displayName": "emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_description",
              "displayName": "company_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_url",
              "displayName": "company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job",
              "displayName": "job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "salary",
              "displayName": "salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_remote",
              "displayName": "is_remote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "repr.job",
              "displayName": "repr.job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        768
      ],
      "id": "b6e7e4f2-5ec3-4270-91aa-664a34b4d7e8",
      "name": "append-or-update-job-listings",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "reZ0cfDtkVX4FzeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "//                                MIT License\n//                     Copyright 2026, Sébastien Kéroack\n// =============================================================================\n\n// Recommended delay range in milliseconds (e.g., 25000-55000 ms)\nconst MIN_DELAY = 2500;\nconst MAX_DELAY = 5500;\n\n// Generate a random delay in the range\nconst delay = Math.floor(Math.random() * (MAX_DELAY - MIN_DELAY + 1)) + MIN_DELAY;\n\n// Wait for the delay (n8n Code node supports async/await)\nawait new Promise(resolve => setTimeout(resolve, delay));\n\n// Optionally output the delay for logging/debugging\nreturn [{ json: { waitedMs: delay } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        912
      ],
      "id": "ebfed2e7-3546-4f5d-968d-d377ebbd1dee",
      "name": "random-wait"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        976,
        912
      ],
      "id": "20d27948-41a2-4a2f-84b9-7be02fd6d0b6",
      "name": "loop-over-search-term"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/candidate/search.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -144,
        912
      ],
      "id": "f5fd29a4-bfe8-44e6-a950-2433c3a845fc",
      "name": "search.json (raw)"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "search",
        "options": {
          "encoding": "utf8"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        80,
        912
      ],
      "id": "882701ff-d649-4e34-b5b5-ff0ef6e1b5c0",
      "name": "search.json"
    },
    {
      "parameters": {
        "fieldToSplitOut": "search.query",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        304,
        912
      ],
      "id": "faa2f949-c03c-4a97-aeae-50b0dfc4d782",
      "name": "split-out-search-query"
    },
    {
      "parameters": {
        "fieldToSplitOut": "search.location",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        528,
        912
      ],
      "id": "90da3fe9-9ebe-400b-92fd-1ff90a320993",
      "name": "split-out-search-location"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2feba11-0fb1-413f-9b1f-b35fb0c8d650",
              "name": "query",
              "value": "={{ $json['search.query'] }}",
              "type": "string"
            },
            {
              "id": "cebcb37b-0d73-4bb2-880d-a10742f52804",
              "name": "location",
              "value": "={{ $json['search.location'] }}",
              "type": "string"
            },
            {
              "id": "317636d6-0810-4455-9a7d-982c0d9411c8",
              "name": "results_wanted",
              "value": "={{ $json.search.results_wanted }}",
              "type": "number"
            },
            {
              "id": "59e0cc7b-607d-44bc-9333-0f1f2c7059a5",
              "name": "distance_unit",
              "value": "={{ $json.search.distance_unit }}",
              "type": "number"
            },
            {
              "id": "ba333ad9-92e5-416e-906c-5e4404a9a4f0",
              "name": "distance_use_km",
              "value": "={{ $json.search.distance_use_km }}",
              "type": "boolean"
            },
            {
              "id": "c40af85c-4061-45e8-b563-d06b46c0e7da",
              "name": "days_old",
              "value": "={{ $json.search.days_old }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        912
      ],
      "id": "5262ee3d-34c0-408c-ac49-e8217f9eb2e4",
      "name": "split-out-fix-merge"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "#                                  MIT License\n#                       Copyright 2026, Sébastien Kéroack\n# ==============================================================================\n\nfrom job_search_pipeline.query import Query\n\n# ---- n8n Python node entrypoint ----\nout = []\n\nfor it in _items:\n    q = Query.from_dict(**it[\"json\"])\n    for job in q.run():\n        out.append({\"json\": job.parse()})\n\nreturn out\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        848
      ],
      "id": "5ae0fd88-f96a-48d5-abe7-b1b32a713977",
      "name": "query-search-term",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "search.json (raw)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if-not-empty": {
      "main": [
        [
          {
            "node": "append-or-update-job-listings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "random-wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "append-or-update-job-listings": {
      "main": [
        [
          {
            "node": "random-wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "random-wait": {
      "main": [
        [
          {
            "node": "loop-over-search-term",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop-over-search-term": {
      "main": [
        [],
        [
          {
            "node": "query-search-term",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search.json (raw)": {
      "main": [
        [
          {
            "node": "search.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search.json": {
      "main": [
        [
          {
            "node": "split-out-search-query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-out-search-query": {
      "main": [
        [
          {
            "node": "split-out-search-location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-out-search-location": {
      "main": [
        [
          {
            "node": "split-out-fix-merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-out-fix-merge": {
      "main": [
        [
          {
            "node": "loop-over-search-term",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "query-search-term": {
      "main": [
        [
          {
            "node": "if-not-empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dcf99b14-5864-4860-8d58-41bc5697bec3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d79135bad5e5016f82ec360fb613505c32cf82dee8dd57489aa4750208f252dd"
  },
  "id": "ubd7KCR0Ichj6qWUwuLfy",
  "tags": []
}